form {
  width: 300px;
  background-color: yellowgreen;
  /* text-align: center; */
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 10px 10px 20px yellowgreen;

  padding: 20px 20px;
  padding-right: 0px;
}

form label {
  font-weight: 900;
}

form input[type="submit"] {
  background-color: rgb(36, 157, 58);
  border: none;
  box-shadow: 5px 5px 10px red;
  margin-bottom: 10px;
}

.btn {
  background-color: orange;
}

form input[type="submit"]:hover {
  background-color: aqua;
}

.btn:hover {
  background-color: aqua;
}
